.section {
    margin: 20px;
}

body {
    font-family: Arial, sans-serif;
}

.section {
    margin: 20px;
}

h2 {
    color: gray;
}

.highlight {
    color: black;
}

label {
    width: 200px;
    display: inline-block;
    text-align: right;
    margin-left: -75px;
}

input#payer:hover {
    cursor: pointer;
    cursor: hand;
}

input:read-only {
    cursor: no-drop;
}

table,
th,
td,
tr {
    border: 1px solid black;
    text-align: center;
}

th,
td {
    padding: 5px;
}

.noformat table {
    border: 0px;
}

button:enabled:hover {
    cursor: pointer;
    cursor: hand;
}

button#changeQuota,
button#changeLocation {
    background-color: yellow;
}

button#buyTicket,
button#buyTickets {
    background-color: #98fb98;
}

button#refundTicket {
    background-color: pink;
}

button#createWallet {
    background-color: #add8e6;
}

button#destroyContract {
    background-color: pink;
}

button#setRating:enabled {
    background-color: cyan;
}

#seed {
    color: green;
}

.left {
    width: 40%;
    float: left
}

.right,
.middle {
    width: 20%;
    float: left
}

.clear {
    clear: both
}

sub {
    font-weight: normal;
}